.navbar {
  width: 250px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #f1f1f1;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 16px;
}

.navbar__logo img {
  width: 40px;
}

.navbar__menu > input {
  display: none;
}

.navbar__menu > label, .navbar__menu > a {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  font-weight: bold;
  color: #252525;
}

.navbar__submenu {
  transition: all 0.2s;
  overflow: hidden;
}

.navbar__submenu a.active {
  background-color: #E6E6E6;
  color: #6e47e6;
  font-weight: 500;
}

.navbar__submenu a {
  display: flex;
  align-items: center;
  height: 0px;
  padding-left: 30px;
  color: #656565;
  transition: all 0.2s;
}

.navbar__menu > input[type="checkbox"]:checked + .navbar__submenu a {
  height: 40px;
}
