.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 16px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  background-color: white;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: calc(250px - 16px);
  height: 70px;
  border-right: 1px solid lightgray;
}

.header__logo img {
  width: 40px;
}

.header__logo h3 {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.header__title {
  padding-left: 16px;
  font-size: 24px;
  font-weight: 500;
}
