.table {
  display: grid;
  grid-template-rows: 1fr 40px;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.table__table {
  display: grid;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.table__header, .table__body {
  display: block;
  width: 100%;
}

.table__body {
  height: 100%;
  overflow-y: auto;
}

.table__body::-webkit-scrollbar {
  display: none;
}

.table__header tr, .table__body tr {
  display: flex;
  border-radius: 8px;
}

.table__header tr th:first-child, .table__body tr td:first-child {
  width: 40px
}

.table__header tr th, .table__body tr td {
  width: 100%;
  text-align: left;
  padding: 14px 16px;
}

.table__header tr th {
  background-color: #f7f7f7;
  color: #252525;
  font-weight: 500;
  text-transform: uppercase;
}

.table__body tr:hover {
  background-color: #f7f7f7;
}
/*
.table__body tr {
  border-top: solid 1px rgba(0,0,0,0.14);
  border-bottom: solid 1px rgba(0,0,0,0.14);
}

.table__body tr:first-child {
  border-top: 0;
}

.table__body tr:last-child {
  border-bottom: 0;
}*/