.toolsHeader {
  border-radius: 8px;
  background-color: #F1F1F1;
  overflow: hidden;
}

.toolsHeader__button {
  height: 100%;
  padding: 8px 16px;
  background-color: transparent;
  outline: none;
  transition: all 0.2s;
}

.toolsHeader__button:hover {
  background-color: #E6E6E6;
}